@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 207, 204, 204;
  --font-color: #202020;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 207, 204, 204;
    --font-color: #202020;
  }
}

body {
  font-family: var(--font-inter);
  color: var(--font-color);
  background: linear-gradient(
      343deg,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  width: 100vw;
  height: 100vh;
  background: rgb(238, 189, 240);
  background: linear-gradient(
    343deg,
    rgba(238, 189, 240, 1) 0%,
    rgba(155, 214, 155, 1) 31%,
    rgba(189, 216, 226, 1) 67%,
    rgba(224, 197, 240, 1) 100%
  );
}

h1,
h2,
h3 {
  font-family: var(--font-roboto_mono);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
